body{
    margin: 0px;
}
main{
    margin: 20px;
}
h1{
    font-family: "poppins", serif;
    font-weight:bold;
    font-style: normal;
    text-align: center;
    background-color:#f4f6f9;
}
body{
    background-color: #ffffffca;
}

.navbar ul{
list-style-type: none;
background-color: #bbdbdf;
padding: 0px;
margin: 0px;
overflow: hidden;
}
.navbar a{
    font-family: "Poppins", serif;
    font-weight:400;
    font-style: normal;
    color: #333333;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}
.navbar a:hover{
    background-color: #9eb3b5;
}
.navbar li{
    float: left;
}